body{
    margin: 0;
    font-family: "Arimo", "Arial", serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(../img/Image20250123145703.jpg);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: #0073e6;
    color: white;
    height: 100px;
    background-color: rgba(0, 91, 181, 0.8);
    box-shadow: 0px 5px 5px 2px rgba(34,74,114,1);
}

#logo{
    height: 100px;
    margin-left: 25px;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 10px;
    
    
}

nav ul li a:hover {
    background-color: #097ef3;
    border-radius: 10%;
    
}


#content{
    display: flex;
    flex-direction: column;

}


/* Footer */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    width: 100%;
    border: none;
    box-shadow: 0px -5px 11px 0px rgba(0,0,0,0.75);
}


.social-links {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-links li a {
    color: white;
    padding: 0 10px;

    
}

.social-links li a:hover {
    color: #54a3f3;
}

li{
    display: flex;
    align-items: center;
}

#nostrasede{
    text-align: center;
}

#map-address{
    display: flex;
    justify-content:center;

}
#map{
    width: 40%;
}

input, textarea{
    margin: 10px;
}

input[type = "radio"]{
    margin: 5px;
}



#address{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
    width: 30%;
    background-color: #005bb5;
}
#name, #email, #text{
    width: 760px;
}

#name, #email{
    height: 30px;
}

#text{
    height: 90px;
}

#formcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;

}
#lang-container{
    display: flex;
    flex-direction: column;
}

#lang-container >*{
    font-size: 12px;
}

button{
    width: 130px;
    height: 30px;
    border-radius: 10%;
    background-color: #005bb5;
    color: white;
}

button:hover{
    background-color: #01468b;
    
}



